 body {
   background-color: #f9ffff;
 }

 .fav-icon i {
   font-size: 20px;
   margin-left: 20px;
   margin-top: 5px;
   transition: color 0.5s;
   transition: font-size 0.5s;
 }

 .fav-icon i:hover {
   color: #eecad5;
   font-size: 30px;
   cursor: pointer;
 }

 :root {
   --main-color: #eecad5;
   --text-color: #1d2939;
   --bg--color: #f9ffff;
 }

 .testimonial-img {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 footer {
   background-color: var(--main-color);
 }

 .bx {
   cursor: pointer;
 }

 #social_icon {
   padding-bottom: 15px;
 }

 #social_icon li {
   display: inline-block;
   margin: 0 10px;
 }

 #social_icon i {
   color: var(--text-color);
   transition: color 0.3s ease;
 }

 #social_icon i:hover {
   color: #ff69b4;
 }

 .logo {
   font-size: 3rem;
   font-weight: bold;
   color: #eecad5;
   display: flex;
   align-items: center;
   gap: 10px;
   text-transform: uppercase;
 }

 .logo span {
   font-size: 2rem;
   color: #ffb6c1;
   /* A complementary pink color */
 }

 .logo:hover {
   transform: scale(1.1);
   transition: transform 0.3s ease-in-out;
 }

 .icon {
   font-size: 1.5rem;
   color: #ff69b4;
   /* Another fun color for the icon */
   animation: bounce 1.5s infinite;
 }

 /* / *Add a bouncing animation */
 @keyframes bounce {

   0%,
   100% {
     transform: translateY(0);
   }

   50% {
     transform: translateY(-10px);
   }
 }